# SBT stuff
target/

# Bloop/Metals/VSCode stuff
.bloop
.bsp
.metals
.vscode
metals.sbt

# simplest portable 'sed -i' syntax creates backup files, eg 'sed -i.bak' - see https://unix.stackexchange.com/a/92907/46453
*.bak